<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Casal Perfeito.">
		<meta name="author" content="Hugo Hernani">
		<title>Meu Casamento</title>
		<link rel="shortcut icon" href="<%= asset_path 'favicon.jpg' %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'wedding_header', 'data-turbolinks-track': 'reload' %>

    <!-- Google Fonts -->
		<link href="http://fonts.googleapis.com/css?family=PT+Serif%7CEngagement%7COpen+Sans:800" rel="stylesheet">

		<!-- Font Awesome Icons -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.css" rel="stylesheet">

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
    <%= javascript_include_tag 'html5shiv' %>
    <%= javascript_include_tag 'respond.min' %>
		<![endif]-->


    <%= yield :head %>
	</head>
	<body >

    <%= csrf_meta_tag %>

    <%= render "layouts/flash_messages" %>

    <%= yield %>

    <%= javascript_include_tag 'wedding_footer', 'data-turbolinks-track': 'reload' %>

    <%= yield :footer %>

    <%= javascript_tag :jcountdown do -%>
      var weddingDate = new Date('<%= l @current_event.celebration_date, format: :countdown, locale: :en %>');
      $(".countdown").countdown({
        until: weddingDate,
        format: 'ODHMS'
      });
    <% end -%>

    <div class="modal"></div>
	</body>
</html>
