<% if current_store.products.without_handlings.blank? %>
  <div class="alert alert-info" role="alert">
    <h4>Essa loja não contém mais produtos disponíveis.</h4>
  </div>
<% else %>
  <div class="text-center">
    <span class="store-title">Lista na <span class="feature-text"><%= current_store.name %></span></span>
    <br />
    <div class="alert alert-warning" role="alert">
      <span class="feature-text"><%= current_store.address %></span>
    </div>
    <div class="alert alert-info" role="alert">
      <span>
        As imagens são meramente ilustrativas. Alguns produtos têm a opção para <strong>Doar</strong>. <br />
        Clique no botão <strong>doar</strong> se você prefere dar o valor (através de cartão de crédito) do produto sem precisar sair de casa! :)
      </span>
    </div>
  </div>
  <div class="row">
    <% current_store.products.without_handlings.each_slice(6).each do |product_slice| %>
      <div class="col-sm-12">
        <div class="row">
          <% product_slice.each do |product| %>
            <div class="col-sm-2 product-item <%= product.sold?? 'sold' : '' %>">
              <% if product.sold? %>
                <%= product.name %>
                <br />
                <%= image_tag attachment_path(product.attachment, :smaller), class: 'img-responsive img-circle', alt: "#{product.name}" %>
                <br />
                <span class="img-rounded">
                  <i class="fa fa-stop-circle"></i>
                </span>
                <div class="btn btn-danger">Vendido</div>
              <% else %>
                <%= link_to show_product_wedding_supports_path(product_id: product.id, format: :js), remote: true, method: :post do %>
                  <%= product.name %>
                  <br />
                  <%= image_tag attachment_path(product.attachment, :smaller), class: 'img-responsive img-circle', alt: "#{product.name}" %>
                  <br />
                  <div class="btn btn-info"><%= number_to_currency(product.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></div>
                <% end %>
                <% if(product.price >= BigDecimal.new('80')) %>
                  <%= link_to 'Doar', donate_product_price_wedding_supports_path(
                    product_id: product.id), class: 'btn btn-primary' %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="clear"></div>
        <div class="general-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
      </div>
    <% end %>
  </div>
<% end %>
