<%= render 'wedding/shared/navigation' %>

<div id="wedding_support">
	<div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Como nos presentear</h2>
        Saiba como fazer parte da vida dos noivos!
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>
    <div class="row context-block">
      <div class="container-fluid text-center">
        <div class="col-sm-6" data-scroll-reveal="enter from the left">
          <a href="person1.html" class="hover-effect">
            <%= image_tag( attachment_path(@current_event.top_slider_assets.first.attachment, :medium), class: "img-responsive img-rounded", alt: 'Couple Picture') %>
            <span class="img-rounded">
              <i class="fa fa-heart fa-4x"></i>
            </span>
          </a>
          <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
        </div>
        <div class="col-sm-6 text-center" data-scroll-reveal="enter from the right">
          <div class="bg-gray primary">
            <h2>Olá pessoal!</h2>
            <br>
            <blockquote>
              <i class="fa fa-gift"></i>
              <p>
                <em><%= @current_event.wedding_support.message %></em>
              </p>
              <i class="fa fa-gift"></i>
            </blockquote>
            <br>
            <small>
              <cite title="Source Title" class="text-right"><%= @current_event.groom.social_name %> e <%= @current_event.bride.social_name %></cite>
            </small>
          </div>
        </div>
        <div class="col-sm-12 text-center" data-scroll-reveal>
          <div class="alert alert-info" role="alert">
            <span>
              Olá pessoal, como vocês sabem estamos morando em Aracaju. A voltagem dos eletrodomésticos daqui é diferente de Arapiraca, por este motivo não colocamos eletrodomésticos na lista de presentes.
              Substituímos os eletrodomésticos por <%= link_to 'quantias', '#doacao' %> que vocês podem doar para que a gente possa comprá-los aqui em Aracaju. As doações e os depósitos nos ajudarão muito a iniciar nossa vida a dois!
            </span>
          </div>
        </div>
      </div>
    </div>

    <span class="text-center white-span"></span>

		<div id="support-options" class="row context-block" >
      <div class="col-sm-4 wow fadeInDown text-center" data-scroll-reveal="enter from the left">
        <%= link_to "#deposito" do %>
          <div class="hover-effect">
            <%= image_tag asset_path('deposito.jpg'), class: 'img-circle img-responsive', alt: "" %>
            <span class="img-circle">
              <i class="fa fa-money fa-3x"></i>
            </span>
          </div>
        <% end %>
        <h3>Depósito</h3>
        <p class="lead"><%= @current_event.wedding_support.deposit_message %></p>
        <a href="#deposito" class="btn btn-primary">Ver detalhes</a>
			</div><!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center" data-scroll-reveal>
        <%= link_to "#doacao" do %>
          <div class="hover-effect">
            <%= image_tag asset_path('pagseguro.png'), class: 'img-circle img-responsive', alt: "" %>
            <span class="img-circle">
              <i class="fa fa-credit-card fa-3x"></i>
            </span>
          </div>
        <% end %>
        <h3>Doação online</h3>
        <p class="lead"><%= @current_event.wedding_support.donations_message %></p>
        <p><a href="#doacao" class="btn btn-embossed btn-primary view" role="button">Ver detalhes</a></p>
			</div><!-- /.col-lg-4 -->

			<div class="col-sm-4 wow fadeInDown text-center" data-scroll-reveal="enter from the right">
        <%= link_to "#deposito" do %>
          <div class="hover-effect">
            <%= image_tag asset_path('presentes.jpg'), class: 'img-circle img-responsive', alt: "" %>
            <span class="img-circle">
              <i class="fa fa-gift fa-3x"></i>
            </span>
          </div>
        <% end %>
        <h3>Lista de presentes</h3>
        <p class="lead"><%= @current_event.wedding_support.gifts_message %></p>
        <p><a href="#lista_de_presentes" class="btn btn-embossed btn-primary view" role="button">Ver detalhes</a></p>
			</div><!-- /.col-lg-4 -->

		</div><!-- /.row -->
	</div>
</div>

<section id="deposito-container">
  <a name="deposito"></a>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Depósito</h2>
        <%= @current_event.wedding_support.deposit_call_message %>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>

	 	<div class="row context-block">
	 		<div class="col-sm-6" data-scroll-reveal="enter from the left">
        <%= image_tag asset_path('deposito-envelopes.jpg'), class: 'img-responsive', alt: "" %>
	 		</div>

	 		<div class="col-sm-6" data-scroll-reveal="enter from the right">
        <div class="text-center">
		 		  <h4>Dados Bancários</h4>
        </div>
        <div class="row">
          <% @current_event.wedding_support.bank_accounts.each do |bank_account| %>
            <div class="col-sm-6">
              <p>
                <%= bank_account.name %> <br />
                <%= bank_account.bank %> <br />
                Agência: <%= bank_account.agency %> <br />
                <% if bank_account.operation.present? %>
                  Operação: <%= bank_account.operation %> <br />
                <% end %>
                Conta Corrente: <%= bank_account.account %> <br />
              </p>
            </div>
          <% end %>
        </div>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
</section>

<a name="doacao"></a>
<section id="doacao-container">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Doação</h2>
        <%= @current_event.wedding_support.donations_call_message %>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>

	 	<div class="row context-block">
	 		<div class="col-sm-6" data-scroll-reveal="enter from the left">
        <%= image_tag asset_path('pagseguro-options.jpg'), class: 'img-responsive', alt: "" %>
	 		</div>

	 		<div class="col-sm-6" data-scroll-reveal="enter from the right">
        <div class="text-center">
		 		  <h4>Opções</h4>
        </div>
        <div class="row">
          <div class="col-sm-12 form-group">
            <div class="row">
              <% @current_event.wedding_list.donations.each do |donation| %>
                <%= link_to new_wedding_support_orders_path(support_id: @current_event.wedding_support.id, donation_id: donation.id) do %>
                  <div class="col-sm-3 form-group">
                    <div class="btn btn-primary"><%= number_to_currency(donation.price, :unit => "R$ ", :separator => ",", :delimiter => ".") %></div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6 text-center col-sm-offset-3 featured-box cool-shadow">
            Ou doe outro valor: <br />
            <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
              <input type="hidden" name="currency" value="BRL" />
              <input type="hidden" name="receiverEmail" value="hhernanni@gmail.com" />
              <input type="hidden" name="iot" value="button" />
              <input type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/doacoes/120x53-doar.gif" name="submit" alt="Doe com PagSeguro - é rápido, grátis e seguro!" />
            </form>
          </div>
          <div class="clear"></div>
        </div>
	 		</div>
	 	</div><! --/row -->
	 </div><! --/container -->
</section>

<% if @current_event.wedding_support.wedding_list.present? %>
  <section id="lista-de-presentes-container">
    <a name="lista_de_presentes"></a>
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 heading" data-scroll-reveal>
          <h2>Lista de presentes</h2>
          <%= @current_event.wedding_support.gifts_call_message %>
          <p><span></span><i class="fa fa-heart"></i><span></span></p>
        </div>
      </div>

      <div id="stores-container">
        <%= render 'wedding/supports/store/stores_listing' %>
      </div>
  </section>
<% end %>

<div id="product-view"></div>

<%= render 'shared/audios' %>

<%= render 'layouts/footer' %>
