<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'devise_pages', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'all_devise', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>

  <title>Meu Casamento | <%= content_for?(:title) ? yield(:title) : '' %></title>
  <meta name="keywords" content="casamento, noivo, noivos, festas, cerimônias, decoração" />
  <meta name="description" content="Um sistema que lida com organzação e divulgação de casamento">
  <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : '' %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= root_url %>">
  <meta property="og:image" content="<%= asset_path('logo.png') %>">
  <meta property="og:description" content="Um sistema que lida com organzação e divulgação de casamento">

  <%#= render partial: 'shared/noindex' %>
</head>
<body class="devise <%= controller_name %> <%= action_name %>">
  <div id="global">
    <div id="logo">
      <%= link_to 'Meu Casamento', "/", alt: 'login logo'  %>
    </div>
    <div id="log-in">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
