<section id="facts">
  <div class="parallax" data-velocity="-.4">
    <%= image_tag( attachment_path(@current_event.fun_facts.background_image.attachment, :background)) %>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Fatos interessantes</h2>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6" data-scroll-reveal="enter from the left">
        <div class="img-circle">
          <h3 class="timer" data-from="0" data-to="<%= @current_event.fun_facts.invited_people_count %>"></h3>
          <h6>Quantidade de convidados</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6" data-scroll-reveal="enter from the top after 0.25s">
        <div class="img-circle">
          <h3 class="timer" data-from="0" data-to="<%= @current_event.fun_facts.involved_people_count %>"></h3>
          <h6>Pessoas envolvidas</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6" data-scroll-reveal="enter from the bottom after 0.5s">
        <div class="img-circle">
          <h3 class="timer" data-from="0" data-to="<%= @current_event.fun_facts.worked_hours %>"></h3>
          <h6>Horas trabalhadas</h6>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6" data-scroll-reveal="enter from the right after 0.75s">
        <div class="img-circle">
          <h3 class="timer" data-from="0" data-to="<%= @current_event.fun_facts.cups_of_coffee_count %>"></h3>
          <h6>Xícaras de café</h6>
        </div>
      </div>
    </div>
  </div>
</section>
