<section id="story" style="background: #f5f4ec;">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Nossa história de amor</h2>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" data-scroll-reveal="enter from the left after 0.25s">
        <div class="hover-effect">
          <%= image_tag( attachment_path(@current_event.love_story.we_met_image.attachment, :medium), class: "img-responsive img-circle", alt: 'Como nos encontramos') %>
          <span class="img-rounded">
            <i class="fa fa-heart fa-4x"></i>
          </span>
        </div>
        <h6>Nos encontramos</h6>
        <p><%= @current_event.love_story.we_met %></p>
        <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
      </div>
      <div class="col-sm-4" data-scroll-reveal>
        <div class="hover-effect">
          <%= image_tag( attachment_path( @current_event.love_story.first_date_image.attachment, :medium), class: "img-responsive img-circle", alt: 'Nosso primeiro encontro') %>
          <span class="img-rounded">
            <i class="fa fa-heart fa-4x"></i>
          </span>
        </div>
        <h6>Primeiro encontro</h6>
        <p><%= @current_event.love_story.first_date %></p>
        <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
      </div>
      <div class="col-sm-4" data-scroll-reveal="enter from the right after 0.5s">
        <div class="hover-effect">
          <%= image_tag( attachment_path(@current_event.love_story.engagement_image.attachment, :medium), class: "img-responsive img-circle", alt: 'Nosso noivado') %>
          <span class="img-rounded">
            <i class="fa fa-heart fa-4x"></i>
          </span>
        </div>
        <h6>Noivado</h6>
        <p><%= @current_event.love_story.engagement %></p>
        <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
      </div>
    </div>
  </div>
</section>
