<div id="parents" class="row">
  <div class="col-sm-3 text-right" data-scroll-reveal="enter from the left after 0.25s">
    <h5><%= @current_event.groom.my_parents.mother_name %></h5>
    <h6>Mãe do Noivo</h6>
    <p><%= @current_event.groom.my_parents.mother_description %></p>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the left after 0.25s">
    <a href="person1.html" class="hover-effect">
      <img src="http://placehold.it/270#270.jpg" class="img-responsive img-circle" alt="" />
      <span class="img-circle">
        <i class="fa fa-link fa-3x"></i>
      </span>
    </a>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <a href="person1.html" class="hover-effect">
      <img src="http://placehold.it/270#270.jpg" class="img-responsive img-circle" alt="" />
      <span class="img-circle">
        <i class="fa fa-link fa-3x"></i>
      </span>
    </a>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <h5><%= @current_event.bride.my_parents.mother_name %></h5>
    <h6>Mãe da Noiva</h6>
    <p><%= @current_event.bride.my_parents.mother_description %></p>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
</div>

<div class="row row-margin">
  <div class="col-sm-3 text-right" data-scroll-reveal="enter from the left after 0.25s">
    <h5><%= @current_event.groom.my_parents.father_name %></h5>
    <h6>Pai do Noivo</h6>
    <p><%= @current_event.groom.my_parents.father_description %></p>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the left after 0.25s">
    <a href="person1.html" class="hover-effect">
      <%= image_tag asset_path 'http://placehold.it/270#270.jpg', class: 'img-responsive img-circle', alt: "" %>
      <span class="img-circle">
        <i class="fa fa-link fa-3x"></i>
      </span>
    </a>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <a href="person2.html" class="hover-effect">
      <%= image_tag asset_path 'http://placehold.it/270#270.jpg', class: 'img-responsive img-circle', alt: "" %>
      <span class="img-circle">
        <i class="fa fa-link fa-3x"></i>
      </span>
    </a>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <h5><%= @current_event.bride.my_parents.father_name %></h5>
    <h6>Pai da Noiva</h6>
    <p><%= @current_event.bride.my_parents.father_description %></p>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
</div>
