<div id="parents" class="row">
  <div class="col-sm-3 text-right" data-scroll-reveal="enter from the left after 0.25s">
    <h5><%= @current_event.groom.my_parents.mother_name %></h5>
    <h6>M達e do Noivo</h6>
    <% if @current_event.groom.my_parents.mother_description.present? %>
    <p><%= @current_event.groom.my_parents.mother_description %></p>
    <% end %>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the left after 0.25s">
    <div class="hover-effect">
      <%= image_tag(attachment_path(<%= @current_event.groom.my_parents.mother_image.attachment :small), class: "img-responsive img-rounded", alt: "Imagem de m達e do noivo") %>
      <span class="img-rounded">
        <i class="fa fa-heart fa-4x"></i>
      </span>
    </div>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <div class="hover-effect">
      <%= image_tag(attachment_path(<%= @current_event.bride.my_parents.mother_image.attachment :small), class: "img-responsive img-rounded", alt: "Imagem de m達e do noiva") %>
      <span class="img-rounded">
        <i class="fa fa-heart fa-4x"></i>
      </span>
    </div>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <h5><%= @current_event.bride.my_parents.mother_name %></h5>
    <h6>M達e da Noiva</h6>
    <% if @current_event.bride.my_parents.mother_description.present? %>
    <p><%= @current_event.bride.my_parents.mother_description %></p>
    <% end %>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
</div>

<div class="row row-margin">
  <div class="col-sm-3 text-right" data-scroll-reveal="enter from the left after 0.25s">
    <h5><%= @current_event.groom.my_parents.father_name %></h5>
    <h6>Pai do Noivo</h6>
    <% if @current_event.groom.my_parents.father_description.present? %>
    <p><%= @current_event.groom.my_parents.father_description %></p>
    <% end %>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the left after 0.25s">
    <div class="hover-effect">
      <%= image_tag(attachment_path(<%= @current_event.groom.my_parents.father_image.attachment :small), class: "img-responsive img-rounded", alt: "Imagem do pai do noivo") %>
      <span class="img-rounded">
        <i class="fa fa-heart fa-4x"></i>
      </span>
    </div>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <div class="hover-effect">
      <%= image_tag(attachment_path(<%= @current_event.bride.my_parents.father_image.attachment :small), class: "img-responsive img-rounded", alt: "Imagem do pai do noiva") %>
      <span class="img-rounded">
        <i class="fa fa-heart fa-4x"></i>
      </span>
    </div>
  </div>
  <div class="col-sm-3" data-scroll-reveal="enter from the right after 0.5s">
    <h5><%= @current_event.bride.my_parents.father_name %></h5>
    <h6>Pai da Noiva</h6>
    <% if @current_event.bride.my_parents.mother_description.present? %>
    <p><%= @current_event.bride.my_parents.father_description %></p>
    <% end %>
    <div class="mobile-divider"><span></span><i class="fa fa-heart"></i><span></span></div>
  </div>
</div>
