<a id="home"></a>

<!-- ========== BANNER START ========== -->

<%= render 'wedding/shared/banner' %>

<!-- ========== BANNER END ========== -->

<%#= render partial: 'wedding/shared/warning', locals: { warning_message: 'Lista de presentes em breve.' } %>


<!-- ========== MENU START ========== -->

<%= render 'wedding/shared/navigation' %>

<!-- ========== MENU END START ========== -->

<%= render 'about_us' %>

<!-- ========== ABOUT US END ========== -->

<!-- ========== OUR STORY START ========== -->

<%= render 'our_story' %>

<!-- ========== OUR STORY END ========== -->

<!-- ========== PEOPLE START ========== -->

<%= render 'people' %>

<!-- ========== PEOPLE END ========== -->

<!-- ========== FUN FACTS START ========== -->

<%= render 'fun_facts' %>

<!-- ========== FUN FACTS END ========== -->

<% if @current_event.gallery.assets.any? %>

<!-- ========== GALLERY START ========== -->

<%= render 'gallery' %>

<!-- ========== GALLERY END ========== -->

<% end %>

<!-- ========== BLOG START ========== -->

<%
=begin %>

<%= render 'blog' %>

<!-- ========== BLOG END ========== -->

<%
=end %>


<!-- ========== LOCATION START ========== -->

<%= render 'location' %>

<!-- ========== LOCATION END ========== -->

<!-- ========== FOOTER START ========== -->

<%= render 'shared/audios' %>

<%= render 'layouts/footer' %>

<!-- ========== FOOTER END ========== -->
